@font-face {
    font-family: "Fahkwang-Regular";
    src: url(../font/Fahkwang/Fahkwang-Regular.ttf);
}

body{
}

.inputCreateText{
    overflow-x: hidden;
}

@media screen and (min-width:800px) {
   
}